.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.dockerignore
Dockerfile
*.swp
.env # Don't copy your local .env file
*.mdb # Avoid copying local mongo data if any