accelerate==1.4.0
email_validator==2.2.0
fastapi==0.115.11
fastapi-cli==0.0.7
httptools==0.6.4
httpx==0.28.1
itsdangerous==2.2.0
motor==3.7.0
optimum==1.24.0
orjson==3.10.15
pip==24.0
pydantic-extra-types==2.10.2
pydantic-settings==2.8.1
python-jose==3.4.0
python-multipart==0.0.20
transformers==4.49.0
ujson==5.10.0
uvloop==0.21.0
watchfiles==1.0.4
websockets==15.0
onnx==1.17.0
onnxruntime==1.19.2